@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI.ttf");
}

@font-face {
    font-family: "Akrobat";
    src: url("../fonts/Akrobat.otf");
}

@font-face {
    font-family: "Roboto Cn";
    src: url("../fonts/RobotoCn.ttf");
}